* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.container-bounded {
  max-width: 800px;
  position: relative;
}

#header-nav {
  border-radius: 0;
  border: none;
  border-bottom: solid #dddddd 1px;
  text-shadow: none;
  background-color: #31425f;
}

#logo {
  position: absolute;
  max-height: 40%;
}

.brand-name {
  position: absolute;
  left: 50px;
  color: #fafafa;
}

h1 {
  color: #31425f;
}

#notice {
  color: #ff0000;
}

textarea {
  width: 100%;
  max-width: 100%;
}

*:focus .MathJax, .MathJax:focus {
  outline: none;
}

#gpa {
  visibility: hidden;
}

#help {
  display: none;
}

.bold {
  font-weight: bold;
}
