* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #bcccdc;
  height: 100%;
}

.content {
  background-color: white;
  height: 100%;
  max-width: 800px;
}

a h1 {
  color: black;
  text-decoration: none;
}


#notice {
  color: #ff0000;
}

textarea {
  width: 100%;
  max-width: 100%;
}

