* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.container-bounded {
  max-width: 800px;
  position: relative;
}

#header-nav {
  border-radius: 0;
  border: none;
  border-bottom: solid #dddddd 1px;
  text-shadow: none;
  background-color: #31425f;
}

#logo {
  position: absolute;
  max-height: 40%;
}

.brand-name {
  position: absolute;
  left: 50px;
  color: #fafafa;
}

h1 {
  color: #31425f;
}

#notice {
  color: #ff0000;
}

textarea {
  width: 100%;
  max-width: 100%;
}

button {
  float: left;
  background-color: #31425f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

button:not(:first-of-type) {
  margin-left: 10px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #f46336;
}

*:focus .MathJax, .MathJax:focus {
  outline: none;
}

#gpa-container {
  height: 70px;
}

#gpa {
  display: none;
  margin: 0px;
}

#help {
  display: none;
}

.bold {
  font-weight: bold;
}

div.button-container {
  margin-bottom: 10px;
}

