<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title>Swarthmore GPA Calculator</title>
  <link rel="shortcut icon" type="image/lng" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <nav id="header-nav" class="navbar navbar-default">
    <div class="container container-bounded">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://www.sccs.swarthmore.edu/">
          <img id="logo" src="{{ url_for('static', filename='images/sccs-logo.png') }} "></img>
        </a>
        <a class="navbar-brand" href="{{ url_for('index') }}">
          <p class="brand-name">GPA Calculator</p>
        </a>
      </div>
    </div>
  </nav>
  <div class="container container-bounded">
    <h1>Swarthmore College GPA Calculator</h1>
    {% block body %}{% endblock %}
  </div>
</body>
</html>
