{% extends "base.html" %}
{% block body %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
      document.getElementById("gpa").style.display = "inline";
    });
  </script>
    <p>Your GPA is:</p>
    <div id="gpa-container">
      <span id="gpa">$${{ latex_gpa_integral }}$$<p>
    </div>

  <a id="show-help"><span class="glyphicon glyphicon-question-sign"></span></a>
  <div id="help">
    <p>
      Don't know what this means? 
      <a target="_blank" href="http://mathworld.wolfram.com/DefiniteIntegral.html">
        Learn about definite integrals.
      </a>
    </p>
    <p>
      ...Or if you're really feeling lazy, the
      <a target="_blank" href="https://www.wolframalpha.com/input/?i={{ wa_query }}">WolframAlpha</a>
      calculator is your friend.
    </p>
    <p><span class="bold">Disclaimer:</span> This website is not endorsed by the 
      Swarthmore College administration, and the value of this integral
      represents only an unofficial GPA (with a margin of error of roughly
      &plusmn;0.02), based on the 
      <a href="http://www.swarthmore.edu/registrar/gpa">grade point
      equivalencies</a> listed by the Registrar's Office.
    </p>
  </div>
  
  <h3>Grades</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Course</th>
        <th>Title</th>
        <th>Credits</th>
        <th>Grade</th>
        <th>Division</th>
        <th>Instructor</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
      <tr>
        <td>{{ course['course'] }}</td>
        <td>{{ course['title'] }}</td>
        <td>{{ course['credits'] }}</td>
        <td>{{ course['grade'] }}</td>
        <td>{{ course['division'] }}</td>
        <td>{{ course['instructor'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script src="{{ url_for('static', filename='js/showHelp.js') }}"></script>
{% endblock %}
